@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100&display=swap');

/*============ START GENERAL STYLE ============*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    color: #25252C;
    text-decoration: none;
    list-style: none;
}

body
{
    --yellow: #f9861a;
    --purple: #0b0a15;
    --main-font:'Nunito Sans', sans-serif;
    --sec-font:'Gothic A1', sans-serif;
}

section
{
    margin: 30px 0;
    padding: 30px 0;
}

section > h1
{
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
}

section > h1 span
{
    color: var(--yellow);
    font-size: 50px;
    background-color: var(--yellow);
    color: white !important;
    padding: 0 5px;
    margin-right: 5px;
}

section .devis
{
    text-align: center;
    margin-top: 20px;
}

section .devis a
{
    display: inline-block;
    background-color: var(--yellow);
    color: white;
    padding: 13px;
    transition: all .5s;
}

section .devis a:hover
{
    background: var(--purple)
}

.purple-section
{
    background-color: var(--purple);
    position: relative;
}

.purple-section *
{
    color: white;
}

.purple-section > h1 span
{
    color: var(--yellow);
}

.active span,
nav .links li span:hover
{
    color: var(--yellow) !important;
    border-bottom: 5px solid var(--yellow) !important;
}

.container
{
    width: 95%;
    margin: 0 auto;
}

.links-hover
{
    transition: all 0.4s;
    background-color: var(--yellow);
}

.links-hover:hover
{
    background-color: var(--purple);
    color: white;
}

/*
** START NAVBAR
*/

nav
{
    position: fixed;
    width: 100%;
    height: 50px;
    transition: all 0.4s ease-in-out;
    z-index: 99999;
}

.show-nav-scroll
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--purple);
    z-index: -1;
    opacity: 0.5
}

.show-nav-scroll
{
    opacity: 1;
}

.show-navbar
{
    height: 100%;
}

.show-navbar .links
{
    opacity: 1;
}

nav > div
{
    display: grid;
    grid-template-columns: 50% 50%;
}

nav .logo
{
    line-height: 50px;
}

.feram-logo span:first-child
{
    background-color: var(--yellow);
    color: white;
    padding: 5px;
}

.feram-logo span:last-child
{
    color: white;
    border: 3px solid var(--yellow);
    padding: 2px 3px;
    background: var(--purple);
}

nav .links
{
    text-align: center;
    grid-row: 3;
    grid-column: 1 / 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.4s ease-in-out 0.4s 0.1s;
}

nav .links li
{
    margin-bottom: 20px;
}

nav .links li span
{
    color: white;
    display: inline-block;
    font-size: 25px;
    border-bottom: 5px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.4s;
}

nav .show-bar-mobile
{
    text-align: right;
}

nav .show-bar-mobile i
{
    font-size: 30px;
    background-color: white;
    margin-top: 7px;
    padding: 3px;
    cursor: pointer;
}

/*
** END NAVBAR
*/
/*
** START HEADER
*/

header
{
    width: 100%;
    height: 100vh;
    position: relative;
}

.overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--purple);
    opacity: 0.5
}

header #myVideo
{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    right: 0;
    bottom: 0;
    object-fit: cover;
}

header .container
{
    position: relative;
}

header .text *
{
    color: white;
}

header .text
{
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
}

header .text h1
{
    margin-bottom: 5px;
    color: white;
    padding-left: 5px;
}

header .text h1 span
{
    display: inline-block;
    padding: 0 5px;
    position: relative;
    border-left: 5px solid var(--yellow)
}

header .text .links
{
    text-align: center;
    margin-top: 20px;
}

header .text .links a
{
    border: 1px solid;
    width: 120px;
    display: inline-block;
    padding: 7px 7px;
    border-radius: 120px;
    margin: 10px 7px
}

header .scroll-down
{
    position: absolute;
    bottom: 0;
    z-index: 9999;
    left: 50%;
    transform: translate(-50%);
}

header .scroll-down i
{
    font-size: 2em;
    background-color: white;
    border-radius: 50% 50% 0 0;
    padding: 10px
}

/*
** END HEADER
*/

/*
** START SERVICES
*/

.services .item
{
    margin-bottom: 50px;
    text-align: center;
}

.services .item i
{
    background: var(--purple);
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    color: var(--yellow);
    font-size: 130px;
    line-height: 150px;
    padding: 10px
}

.services .item h3
{
    font-size: 25px;;
    margin: 7px 0;
}

.services .item p
{
    text-align: justify;
}

/*
** END SERVICES
*/

/*
** START LANGUAGE EDITING
*/

.lang-edit p
{
    text-align: justify;
    margin-bottom: 10px;
}

.lang-edit p span
{
    color: var(--yellow);
    font-style: italic
}

.lang-edit .prices
{
    margin-top: 20px
}

.lang-edit .prices div
{
    border-left: 2px solid var(--yellow);
    margin-bottom: 10px;
    padding-left: 10px
}

.lang-edit .prices div h5
{
    color: var(--yellow);
}

.lang-edit .prices div a
{
    border: 1px solid;
    padding: 7px 15px;
    margin: 5px 0;
    display: inline-block;
    cursor: pointer;
    transition: all 0.4s
}

.lang-edit .prices div a:hover
{
    background-color: var(--yellow);
}

/*
** END LANGUAGE EDITING
*/

/*
** START FORMATION
*/

.formation p
{
    margin: 15px 0;
    text-align: justify;
}

.formation img
{
    width: 100%;
    margin-top: 20px
}

/*
** END FORMATION
*/

/*
** START EXCELLENCE...
*/

.excell
{
    background-image: url('../img/section.png');
    background-size: cover;
    position: relative;
}

.excell p
{
    margin-bottom: 10px;
    text-align: justify;
}

.excell ul
{
    padding-left: 10px
}

.excell ul li
{
    margin-bottom: 10px
}

.excell ul li i
{
    margin-right: 10px;
    font-size: 25px;
    background: var(--yellow);
    padding: 8px;
    border-radius: 50%;
}

/*
** END EXCELLENCE...
*/

/*
** START RECRUTEMENT
*/

.recr p 
{
    text-align: justify;
}

/*
** END RECRUTEMENT
*/

/*
** START FOOTER
*/

footer
{
    padding: 50px 0;
    padding-bottom: 15px
}

footer .who
{
    text-align: justify;
    margin-bottom: 15px;
}

footer .who h1
{
    margin-bottom: 15px
}

footer .contact-info
{
    margin-bottom: 15px;
}

footer .contact-info a
{
    display: block;
    margin-bottom: 3px;
}

footer .contact-info a:nth-child(3) span
{
    display: inline-block;
    padding: 7px;
    border: 1px solid
}

footer .newsletter form
{
    display: grid;
    grid-template-columns: 60% 40%;
}

footer .newsletter form input[type="submit"]
{
    padding: 10px 0;
    color: white;
    background: var(--yellow);
    border: none;
    cursor: pointer;
    transition: all 0.4s;
    border: 1px solid transparent;
    border-left: none;
}

footer .newsletter form input[type="submit"]:hover
{
    background: var(--purple);
    border: 1px solid white;
    border-left: none;
}
footer .newsletter form input[type="text"]
{
    padding-left: 7px;
    border: 1px solid 
}

footer .copyrights
{
    text-align: center;
    margin-top: 35px;
}


footer .copyrights p
{
    margin-bottom: 10px
}

footer .copyrights p:last-child i
{
    color: #ff4d4d;
}

footer .copyrights p:last-child a
{
    color: var(--yellow);
}
/*
** END FOOTER
*/


/*
** START CONTACT
*/

.contact
{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background: white;
    margin: 0;
    padding: 0;
    padding: 20px 0;
    transition: all 0.6s;
    opacity: 0;
}

.contact > a
{
    position: absolute;
    top: 10px;
    left: 10px;
}

.contact > a i
{
    background-color: var(--purple);
    color: white;
    padding: 5px;
    font-size: 20px;
    transition: all 0.4s;
}

.contact > a i:hover
{
    background-color: var(--yellow)
}

.contact h1
{
    text-align: center;
}

.contact h1 span
{
    border-left: 4px solid var(--yellow);
    color: black !important;
    background: none;
    font-size: inherit;
    margin: 0;
    padding: 0 0 0 10px;
}

.contact form
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
}

.contact form input,
.contact form textarea
{
    display: block;
    width: 100%
}

.contact form input,
.contact form textarea
{
    border: 1px solid var(--purple);
    padding: 10px 5px;
    margin-bottom: 10px
}

.contact form textarea
{
    resize: none;
    width: 100%;
    height: 150px;
}

.contact form input[type="submit"]
{
    width: 150px;
    margin: 0 auto;
    background-color: var(--yellow);
    color: white;
    border: 1px solid white;
    border-radius: 150px;
    transition: all 0.4s;
    cursor: pointer
}

.contact form input[type="submit"]:hover
{
    background: var(--purple);
}
/*
** END CONTACT
*/

/*
** START END LOADER
*/

.parentLoading{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999999999999999;
	background: white;
}
.lds-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff #fba100 transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*
** END LOADER
*/

/*===============================
** WIDTH 750px
**=============================*/

@media(min-width:700px) {
    /*
    ** START LANGUAGE EDITING
    */
    .lang-edit .prices
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
    }
    /*
    ** END LANGUAGE EDITING
    */
    
    /*
    ** START CONTACT
    */
    
    .contact > a
    {
        top: 20px;
        left: 20px;
    }

    .contact > a i
    {
        padding: 10px;
        font-size: 25px
    }

    
    .contact form
    {
        width: 500px
    }
    
    
    .contact form textarea
    {
        height: 300px
    }
    /*
    ** START CONTACT
    */
}

/*===============================
** WIDTH 900px
**=============================*/

@media(min-width:950px)
{
    /*
    ** START NAVBAR
    */
    
    nav
    {
        height: 60px;
    }
    
    nav .logo
    {
        line-height: 60px;
    }
    
    nav > div
    {
        grid-template-columns: 20% 80%;
    }

    nav .links
    {
        grid-row: 1;
        grid-column: 2;
        position: static;
        opacity: 1;
        transform: none;
        line-height: 60px;
    }
    nav .links li
    {
        display: inline-block;
        margin: 0 10px
    }

    nav .show-bar-mobile
    {
        display: none;
    }
    
    nav .links li span {
        font-size: 18px;
    }

    /*
    ** END NAVBAR
    */
    
    /*
    ** START HEADER
    */
    
    header .text
    {
        width: 70%;
        position: absolute;
        top: 50vh;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center
    }
    
    header .text h1
    {
        border-left: none;
    }

    header .text .links a
    {
        padding: 15px 7px
    }
    
    /*
    ** END HEADER
    */

    /*
    ** START SERVICES
    */
    
    .services .container
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 50px
    }
    /*
    ** END SERVICES
    */
    
    /*
    ** START FOOTER
    */
    
    footer .container
    {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-column-gap: 35px;
        grid-row-gap: 0px
    }
    
    footer .copyrights
    {
        grid-row: 3;
        grid-column: 1/3
    }

    /*
    ** END FOOTER
    */
    
    /*
    ** START CONTACT
    */
    
    .contact form
    {
        width: 700px
    }

    .contact form > div
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px
    }
    /*
    ** START CONTACT
    */
}

/*===============================
** WIDTH 1100px
**=============================*/

@media(min-width:1100px) {
    
    /*
    ** START SERVICES
    */

    .services .container
    {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 50px
    }
    /*
    ** END SERVICES
    */
    /*
    ** START FORMATION
    */
    .formation
    {
        text-align: center;
    }
    .formation img
    {
        width: 60%;
    }
    
    /*
    ** END FORMATION
    */
    
    /*
    ** START EXCELLENCE..
    */
    
    .excell ul
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 0;
    }
    
    /*
    ** END EXCELLENCE...
    */

    /*
    ** START FOOTER
    */
    
    footer .container
    {
        grid-template-columns: 50% calc(20% - 40px) 30%;
        grid-column-gap: 20px;
        grid-row-gap: 0px
    }

    footer .copyrights
    {
        grid-column: 1/4;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    /*
    ** END FOOTER
    */
}